.options{
    position: fixed;
    height: 100%;
    width: 400px ;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    z-index: 2;
}
.menuButton{
    position: fixed;
    top:30px;
    left:33px;
    border-style: none;
    background-color: transparent;
    cursor:pointer;
    z-index: 2;
    background-color: white;
    padding: 9px 9px 4px 9px;
    border-radius: 50%;
}
a{
    margin-top: 5px;
    font-size: 30px;
}
@media (max-width: 738px){

    .menuButton{
        top:10px;
        left:10px;
        border-radius: 30%;
    }
    .options{
        height: 100%;
        width: 100%;
        overflow: hidden;
    }
}