.navDiv{
    height: 100px;
}
.wrapper{
    margin: auto;
    display: flex;
    max-width:1366px;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.socialDiv{
    display: flex;
    gap: 20px;
    padding-right: 50px;
}
img{
    height: 28px;
}
.name{
    padding-left: 50px;
}
@media(max-width:738px){
    .navDiv{
       height: max-content;
    }
    .wrapper{
    justify-content: flex-end;
    }
    .socialDiv{
        padding: 10px;
    }
    img{
        height: 28px;
    }
    .name{
       display: none;
    }
}